<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <h1>Dashboard</h1>
        Hello, [[${#httpServletRequest.remoteUser}]]

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
    <th:block th:insert="fragments/footer-scripts.html :: scripts">
    </th:block>
</body>
</html>