<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Adicionar cliente
                <small>Formulário</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/clientes}"><i class="fa fa-users"></i>Clientes</a></li>
                <li class="active">Edição</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações Essenciais</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="@{/clientes/edit}" th:object="${cliente}" method="post" role="form">
                            <div class="box-body">
                                <input type="hidden" th:field="*{clienteId}">
                                <div class="row">
                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteNome')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteNome')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteNome">Nome*</label>
                                        <input type="text" class="form-control" placeholder="Nome" required="" th:field="*{clienteNome}">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteNome')}" th:errors="*{clienteNome}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteSobrenome')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteSobrenome')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteSobrenome">Sobrenome*</label>
                                        <input type="text" th:field="*{clienteSobrenome}" class="form-control" placeholder="Sobrenome" required="">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteSobrenome')}" th:errors="*{clienteSobrenome}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteCpf')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteCpf')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteCpf"> CPF*</label>
                                        <input type="text" th:field="*{clienteCpf}" class="form-control" data-inputmask='"mask": "999.999.999-99"' data-mask required="">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteCpf')}" th:errors="*{clienteCpf}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteEmail')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteEmail')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteEmail">Email*</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="email"  th:field="*{clienteEmail}" class="form-control" placeholder="Email" required="">
                                            <span class="help-block" th:if="${#fields.hasErrors('clienteEmail')}" th:errors="*{clienteEmail}"></span>
                                        </div>
                                    </div>


                                </div>

<!--                                <div class="row">-->
<!--                                    <div id="nextSprint">-->

<!--                                        <div class="box-header with-border">-->
<!--                                            <h3 class="box-title pdg_left_5">Campos adicionais</h3>-->
<!--                                        </div>-->

<!--                                        <div class="col-md-12 form-group">-->
<!--                                            <label>Selecione o tipo de campo que deseja adicionar e depois clique no +:</label>-->

<!--                                            <div class="input-group">-->
<!--                                                <span class="input-group-addon" id="addFieldButton"><a href="#"><i class="fa fa-plus add_field_button" style="color: green;"></i></a></span>-->
<!--                                                <select id="campos_adicionais" name="campos_adicionais" class="form-control" style="width: 300px;">-->
<!--                                                    <option value="-1" disabled selected>Selecione uma opção</option>-->
<!--                                                    <option th:each="dadoTipoOption : ${dadoTipos}" th:value="${dadoTipoOption.dadoTipoId}" th:text="${dadoTipoOption.dadoTipoDescricao}" th:data-obrigatorio="${dadoTipoOption.dadoTipoObrigatorio}" th:data-mascara="${dadoTipoOption.dadoTipoMascara}" th:data-padrao="${dadoTipoOption.dadoTipoPadrao}"></option>-->
<!--                                                </select>-->
<!--                                            </div>-->

<!--                                            <div class="input_fields_wrap" id="input_fields_wrap">-->

<!--                                                <div class="form-group" th:each="clienteDadoTipoEach,iter : ${cliente.clienteDado}">-->
<!--                                                    <input type="hidden" th:name="'clienteDado['+${iter.index}+'].dadoTipo'" th:value="${clienteDadoTipoEach.dadoTipo.dadoTipoId}">-->
<!--                                                    <label style="display:block;" th:text="${clienteDadoTipoEach.dadoTipo.dadoTipoDescricao}+':'"></label>-->
<!--                                                    <input style="max-width:335px; display: inline-block;" type="text" th:placeholder="${clienteDadoTipoEach.dadoTipo.dadoTipoPadrao}" th:name="'clienteDado['+${iter.index}+'].clienteDadoValor'" th:required="${clienteDadoTipoEach.dadoTipo.dadoTipoObrigatorio}" th:value="${clienteDadoTipoEach.clienteDadoValor}" class="form-control extra_input">-->
<!--                                                    <a href="#" class="remove_field"> <i class="fa fa-minus" style="color: red;"></i></a>-->
<!--                                                </div>-->

<!--                                            </div>-->

<!--                                        </div>-->

<!--                                    </div>-->


<!--                                </div>-->

                                <div class="col-md-12 form-group">
                                    <label>Selecione o tipo de campo que deseja adicionar e depois clique no +:</label>

                                    <!--                                            <div class="input-group">-->
                                    <!--                                                <span class="input-group-addon" id="addFieldButton"><a href="#"><i class="fa fa-plus add_field_button" style="color: green;"></i></a></span>-->
                                    <!--                                                <select id="campos_adicionais" name="campos_adicionais" class="form-control" style="width: 300px;">-->
                                    <!--                                                    <option value="-1" disabled selected>Selecione uma opção</option>-->
                                    <!--                                                    <option th:each="dadoTipoOption : ${dadoTipoList}" th:value="${dadoTipoOption.dadoTipoId}" th:text="${dadoTipoOption.dadoTipoDescricao}" th:data-obrigatorio="${dadoTipoOption.dadoTipoObrigatorio}" th:data-mascara="${dadoTipoOption.dadoTipoMascara}" th:data-padrao="${dadoTipoOption.dadoTipoPadrao}"></option>-->
                                    <!--                                                </select>-->
                                    <!--                                            </div>-->
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Dado Tipo</th>
                                            <th>Valor</th>
                                            <th>
                                                <button type="submit" name="addClienteDado" >Adicionar dado tipo</button>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="clienteDado,stat : *{clienteDado}">
                                            <td th:text="${stat.count}">1</td>
                                            <td>
                                                <select th:field="*{clienteDado[__${stat.index}__].dadoTipo}">
                                                    <option th:each="dadoTipoOption : ${dadoTipoList}" th:value="${dadoTipoOption.dadoTipoId}" th:text="${dadoTipoOption.dadoTipoDescricao}" th:data-obrigatorio="${dadoTipoOption.dadoTipoObrigatorio}" th:data-mascara="${dadoTipoOption.dadoTipoMascara}" th:data-padrao="${dadoTipoOption.dadoTipoPadrao}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" th:field="*{clienteDado[__${stat.index}__].clienteDadoValor}" />
                                            </td>
                                            <td>
                                                <button type="submit" name="removeClienteDado"
                                                        th:value="${stat.index}">Remover Cliente dado</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="input_fields_wrap" id="input_fields_wrap">
                                        <!--<button class="add_field_button">Adicionar mais campos</button>-->
                                        <div>
                                            <!--<input type="text" name="mytext[]">-->
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <!-- select -->
                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteStatus')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteStatus')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label>Status:</label>
                                        <select class="form-control" th:field="*{clienteStatus}">
                                            <option value="1" selected>Ativo</option>
                                            <option value="0">Não Ativo</option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteStatus')}" th:errors="*{clienteStatus}"></span>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Atualizar Cliente</button>
                                    <a th:href="@{/clientes}" class="btn btn-primary"><i class="fa fa-list add_field_button btn_wht"></i> Listar Clientes</a>
                                    <a th:href="@{/dashboard}" class="btn btn-laranja"><i class="fa fa-chevron-left add_field_button btn_wht"></i> Voltar para Painel Inicial</a>
                                </div>
                        </form>
                    </div>
                    <!-- /.box -->

                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
<th:block th:insert="fragments/footer-scripts.html :: scripts">
</th:block>
<script type="text/javascript">

    $(document).ready(function() {

	  var max_fields = 10; //maximum input boxes allowed
	  var wrapper = $("#input_fields_wrap"); //Fields wrapper
      var add_button = $("#addFieldButton"); //Add button ID
      var counter = $('.extra_input').length;

      $(add_button).click(function(e) { //on add input button click
         e.preventDefault();

        console.log($(this).find("select option:selected"));

        var dadoTipoId = $('#campos_adicionais').children("option:selected").val();
        console.log(dadoTipoId);
        if(dadoTipoId != -1){
            var dadoTipoText = $('#campos_adicionais').children("option:selected").text();
            var isObrigatorio = $('#campos_adicionais').children("option:selected").attr("data-obrigatorio");
            var valorPadrao = $('#campos_adicionais').children("option:selected").attr("data-padrao");

            dadoTipoText = (dadoTipoText == undefined) ? "" : dadoTipoText;
            valorPadrao = (valorPadrao == undefined) ? "" : valorPadrao;

            apppendOption(dadoTipoId, dadoTipoText, isObrigatorio, valorPadrao);
        }
      });

       function apppendOption(dadoTipoId, dadoTipoText, isObrigatorio, valorPadrao){
          var isTrueSet = (isObrigatorio === 'true');
          var requiredText = "";
           if(isTrueSet){
                requiredText = "required";
          }

          var inputDadoTipo = "<input type='hidden' name='clienteDado["+counter+"].dadoTipo' value='"+dadoTipoId+"'>";
          var inputValue = "<label style=\"display:block;\">"+dadoTipoText+":</label><input style=\"max-width:335px; display: inline-block;\" type='text' placeholder='"+dadoTipoText+"' name='clienteDado["+counter+"].clienteDadoValor' "+requiredText+" value='"+valorPadrao+"' class=\"form-control extra_input\"><a href=\"#\" class=\"remove_field\"> <i class=\"fa fa-minus\" style=\"color: red;\"></i></a>";
          var inputCliente = "<input type='hidden' name='clienteDado["+counter+"].cliente' >";

          var inputs = "<div class=\"form-group\">"+inputDadoTipo+inputValue+inputCliente+"</div>";
          wrapper.append(inputs);
          counter++;
       }

	  $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
	    e.preventDefault();
	    $(this).parent('div').remove();
	  })

	}
	);
</script>
</body>
</html>