<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Adicionar cliente
                <small>Formulário</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/clientes}"><i class="fa fa-users"></i> Clientes</a></li>
                <li class="active">Adicionar</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações Essenciais</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="@{/clientes}" th:object="${cliente}" method="post" role="form">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteNome')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteNome')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteNome">Nome*</label>
                                        <input type="text" class="form-control" placeholder="Nome" required="" th:field="*{clienteNome}">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteNome')}" th:errors="*{clienteNome}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteSobrenome')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteSobrenome')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteSobrenome">Sobrenome*</label>
                                        <input type="text" th:field="*{clienteSobrenome}" class="form-control" placeholder="Sobrenome" required="">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteSobrenome')}" th:errors="*{clienteSobrenome}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteCpf')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteCpf')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteCpf"> CPF*</label>
                                        <input type="text" th:field="*{clienteCpf}" class="form-control" data-inputmask='"mask": "999.999.999-99"' data-mask required="">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteCpf')}" th:errors="*{clienteCpf}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteEmail')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteEmail')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteEmail">Email*</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="email"  th:field="*{clienteEmail}" class="form-control" placeholder="Email" required="">
                                            <span class="help-block" th:if="${#fields.hasErrors('clienteEmail')}" th:errors="*{clienteEmail}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="nextSprint">

                                        <div class="row">
                                            <div class="box-header with-border">
                                                <h3 class="box-title pdg_left_5">Campos adicionais</h3>
                                            </div>

                                            <div class="col-md-12 form-group">
                                                <label>Selecione o tipo de campo que deseja adicionar e depois clique no +:</label>

                                                <div class="input-group">
                                                    <span class="input-group-addon" id="addFieldButton"><a href="#"><i class="fa fa-plus add_field_button" style="color: green;"></i></a></span>
                                                    <select id="campos_adicionais" name="campos_adicionais" class="form-control" style="width: 300px;">
                                                        <option value="" disabled selected>Selecione uma opção</option>
                                                        <option th:each="dadoTipoOption : ${dadoTipos}" th:value="${dadoTipoOption.dadoTipoId}" th:text="${dadoTipoOption.dadoTipoDescricao}" th:data-obrigatorio="${dadoTipoOption.dadoTipoObrigatorio}" th:data-mascara="${dadoTipoOption.dadoTipoMascara}" th:data-padrao="${dadoTipoOption.dadoTipoPadrao}"></option>
                                                    </select>
                                                </div>

                                                <div class="input_fields_wrap" id="input_fields_wrap">
                                                    <!--<button class="add_field_button">Adicionar mais campos</button>-->
                                                    <div>
                                                        <!--<input type="text" name="mytext[]">-->
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>


                            </div>

                            <div class="row">
                                <!-- select -->
                                <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteStatus')} ? has-error : noerror">
                                    <label class="control-label" th:if="${#fields.hasErrors('clienteStatus')}"><i class="fa fa-times-circle-o"></i></label>
                                    <label>Status:</label>
                                    <select class="form-control" th:field="*{clienteStatus}">
                                        <option value="1" selected>Ativo</option>
                                        <option value="0">Não Ativo</option>
                                    </select>
                                    <span class="help-block" th:if="${#fields.hasErrors('clienteStatus')}" th:errors="*{clienteStatus}"></span>
                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-plus add_field_button btn_wht"></i> Adicionar Cliente</button>
                                <a th:href="@{/clientes}" class="btn btn-primary"><i class="fa fa-list add_field_button btn_wht"></i> Listar Clientes</a>
                                <a th:href="@{/dashboard}" class="btn btn-laranja"><i class="fa fa-chevron-left add_field_button btn_wht"></i> Voltar para Painel Inicial</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->

                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
<th:block th:insert="fragments/footer-scripts.html :: scripts">
</th:block>
<script type="text/javascript">

    $(document).ready(function() {

	  var max_fields = 10; //maximum input boxes allowed
	  var wrapper = $("#input_fields_wrap"); //Fields wrapper
      var add_button = $("#addFieldButton"); //Add button ID
      var counter = 0;

      $(add_button).click(function(e) { //on add input button click
         e.preventDefault();

        console.log($(this).find("select option:selected"));

        var dadoTipoId = $('#campos_adicionais').children("option:selected").val();
        var isObrigatorio = $('#campos_adicionais').children("option:selected").attr("data-obrigatorio");
        var valorPadrao = $('#campos_adicionais').children("option:selected").attr("data-padrao");

        apppendOption(dadoTipoId, isObrigatorio, valorPadrao);
      });

       function apppendOption(dadoTipoId, isObrigatorio, valorPadrao){
          var inputDadoTipo = "<input type='hidden' name='clienteDado["+counter+"].dadoTipo' value='"+dadoTipoId+"'><br/>";
          var inputValue = "<input type='text' placeholder='"+valorPadrao+"' name='clienteDado["+counter+"].clienteDadoValor' required='"+isObrigatorio+"' placeholder='"+valorPadrao+"'><br/>";
          var inputCliente = "<input type='hidden' placeholder='"+valorPadrao+"' name='clienteDado["+counter+"].cliente' ><br/>";

          var inputs = inputDadoTipo+inputValue+inputCliente;

          wrapper.append(inputs);

          counter++;
       }

	  $(wrapper).on("click", ".remove_field", function(e) { //user click on remove text
	    e.preventDefault();
	    $(this).parent('div').remove();
	    x--;
	  })

	}
	);
</script>
</body>
</html>