<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Adicionar cliente
                <small>Formulário</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../../dashboard.html"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Adicionar cliente</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações Essenciais</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="@{/clientes}" th:object="${cliente}" method="post" role="form">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteNome')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteNome')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteNome">Nome*</label>
                                        <input type="text" class="form-control" placeholder="Nome" required="" th:field="*{clienteNome}">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteNome')}" th:errors="*{clienteNome}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteSobrenome')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteSobrenome')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteSobrenome">Sobrenome*</label>
                                        <input type="text" th:field="*{clienteSobrenome}" class="form-control" placeholder="Sobrenome" required="">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteSobrenome')}" th:errors="*{clienteSobrenome}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteCpf')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteCpf')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteCpf"> CPF*</label>
                                        <input type="text" th:field="*{clienteCpf}" class="form-control" data-inputmask='"mask": "999.999.999-99"' data-mask required="">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteCpf')}" th:errors="*{clienteCpf}"></span>
                                    </div>

                                    <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteEmail')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteEmail')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteEmail">Email*</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="email"  th:field="*{clienteEmail}" class="form-control" placeholder="Email" required="">
                                            <span class="help-block" th:if="${#fields.hasErrors('clienteEmail')}" th:errors="*{clienteEmail}"></span>
                                        </div>
                                    </div>

<!--                                    <div id="nextSprint" style="display:none;">-->
<!--                                        <div class="box-header with-border" style="position: static;">-->
<!--                                            <h3 class="box-title pdg_left_5">Informações Opcionais</h3>-->
<!--                                        </div>-->

<!--                                        <div class="col-xs-3 form-group">-->
<!--                                            <label for="Telefone">Telefone Fixo</label>-->
<!--                                            <div class="input-group">-->
<!--                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>-->
<!--                                                <input type="email" class="form-control" placeholder="Telefone">-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="col-xs-3 form-group">-->
<!--                                            <label for="Celular">Celular</label>-->
<!--                                            <div class="input-group">-->
<!--                                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>-->
<!--                                                <input type="email" class="form-control" placeholder="Celular">-->
<!--                                            </div>-->
<!--                                        </div>-->

<!--                                        <div class="row">-->
    <!--                                        <div class="box-header with-border">-->
    <!--                                            <h3 class="box-title pdg_left_5">Campos adicionais</h3>-->
    <!--                                        </div>-->

    <!--                                        <div class="col-md-12 form-group">-->
    <!--                                            <label>Selecione o tipo de campo que deseja adicionar e depois clique no +:</label>-->

    <!--                                            <div class="input-group">-->
    <!--                                                <span class="input-group-addon"><a href="#"><i class="fa fa-plus add_field_button" style="color: green;"></i></a></span>-->
    <!--                                                <select id="campos_adicionais" name="campos_adicionais" class="form-control" style="width: 300px;" onchange="SelectCampos(this.value);">-->
    <!--                                                    <option value="" disabled selected>Selecione uma opção</option>-->
    <!--                                                    <option value="Telefone">Telefone</option>-->
    <!--                                                    <option value="Email">Email</option>-->
    <!--                                                    <option value="Endereco">Endereço</option>-->
    <!--                                                </select>-->
    <!--                                            </div>-->

    <!--                                            <div class="input_fields_wrap">-->
    <!--                                                &lt;!&ndash;<button class="add_field_button">Adicionar mais campos</button>&ndash;&gt;-->
    <!--                                                <div>-->
    <!--                                                    &lt;!&ndash;<input type="text" name="mytext[]">&ndash;&gt;-->
    <!--                                                </div>-->
    <!--                                            </div>-->

    <!--                                        </div>-->

<!--                                        </div>-->

<!--                                    </div>-->


                            </div>

                            <div class="row">
                                <!-- select -->
                                <div class="col-xs-3 form-group" th:classappend="${#fields.hasErrors('clienteStatus')} ? has-error : noerror">
                                    <label class="control-label" th:if="${#fields.hasErrors('clienteStatus')}"><i class="fa fa-times-circle-o"></i></label>
                                    <label>Status:</label>
                                    <select class="form-control" th:field="*{clienteStatus}">
                                        <option value="1" selected>Ativo</option>
                                        <option value="0">Não Ativo</option>
                                    </select>
                                    <span class="help-block" th:if="${#fields.hasErrors('clienteStatus')}" th:errors="*{clienteStatus}"></span>
                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-plus add_field_button btn_wht"></i> Adicionar Cliente</button>
                                <a th:href="@{/clientes}" class="btn btn-primary"><i class="fa fa-list add_field_button btn_wht"></i> Listar Clientes</a>
                                <a th:href="@{/dashboard}" class="btn btn-laranja"><i class="fa fa-chevron-left add_field_button btn_wht"></i> Voltar para Painel Inicial</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6" style="display: none;">
                    <!-- general form elements disabled -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">General Elements</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Text</label>
                                    <input type="text" class="form-control" placeholder="Enter ...">
                                </div>
                                <div class="form-group">
                                    <label>Text Disabled</label>
                                    <input type="text" class="form-control" placeholder="Enter ..." disabled>
                                </div>

                                <!-- textarea -->
                                <div class="form-group">
                                    <label>Textarea</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Textarea Disabled</label>
                                    <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
                                </div>

                                <!-- input states -->
                                <div class="form-group has-success">
                                    <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>
                                    <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                                    <span class="help-block">Help block with success</span>
                                </div>
                                <div class="form-group has-warning">
                                    <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with
                                        warning</label>
                                    <input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">
                                    <span class="help-block">Help block with warning</span>
                                </div>
                                <div class="form-group has-error">
                                    <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with
                                        error</label>
                                    <input type="text" class="form-control" id="inputError" placeholder="Enter ...">
                                    <span class="help-block">Help block with error</span>
                                </div>

                                <!-- checkbox -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            Checkbox 1
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                            Checkbox 2
                                        </label>
                                    </div>

                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" disabled>
                                            Checkbox disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- radio -->
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Option one is this and that&mdash;be sure to include why it's great
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                            Option two can be something else and selecting it will deselect option one
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                            Option three is disabled
                                        </label>
                                    </div>
                                </div>

                                <!-- select -->
                                <div class="form-group">
                                    <label>Select</label>
                                    <select class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Disabled</label>
                                    <select class="form-control" disabled>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>

                                <!-- Select multiple-->
                                <div class="form-group">
                                    <label>Select Multiple</label>
                                    <select multiple class="form-control">
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Multiple Disabled</label>
                                    <select multiple class="form-control" disabled>
                                        <option>option 1</option>
                                        <option>option 2</option>
                                        <option>option 3</option>
                                        <option>option 4</option>
                                        <option>option 5</option>
                                    </select>
                                </div>

                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
<th:block th:insert="fragments/footer-scripts.html :: scripts">
</th:block>
</body>
</html>