<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Adicionar produto
                <small>Formulário</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/produtos}"><i class="fa fa-th"></i> Produtos</a></li>
                <li class="active">Cadastro</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações Essenciais</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="@{/produtos}" th:object="${produto}" method="post" role="form">
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-xs-12 form-group" th:classappend="${#fields.hasErrors('produtoDescricao')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('produtoDescricao')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="produtoDescricao">Descrição</label>
                                        <input type="text" class="form-control" placeholder="Descrição do produto" th:field="*{produtoDescricao}">
                                        <span class="help-block" th:if="${#fields.hasErrors('produtoDescricao')}" th:errors="*{produtoDescricao}"></span>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-xs-6 form-group" th:classappend="${#fields.hasErrors('nivelInstrucao')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('nivelInstrucao')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label>Nível de Instrução:</label>
                                        <select class="form-control" th:field="*{nivelInstrucao}">
                                            <option value="">Selecione o nível de instrução</option>
                                            <option th:each="nivelInstrucaoOption : ${niveisInstrucao}" th:value="${nivelInstrucaoOption.nivelInstrucaoId}" th:text="${nivelInstrucaoOption.nivelInstrucaoDescricao}"></option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('nivelInstrucao')}" th:errors="*{nivelInstrucao}"></span>
                                    </div>

                                    <div class="col-xs-6 form-group" th:classappend="${#fields.hasErrors('produtoStatus')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('produtoStatus')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label>Status:</label>
                                        <select class="form-control" th:field="*{produtoStatus}">
                                            <option value="1">Ativo</option>
                                            <option value="0">Não Ativo</option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('produtoStatus')}" th:errors="*{produtoStatus}"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Adicionar Produto</button>
                                <a th:href="@{/produtos}" class="btn btn-default">Cancelar</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
<th:block th:insert="fragments/footer-scripts.html :: scripts">
</th:block>
</body>
</html>