<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Alterar Cliente em uma Oferta
                <small>Formulário</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/funil-de-vendas}"><i class="fa fa-star"></i>Funil de Vendas</a></li>
                <li class="active">Edição</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Informações Essenciais</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form th:action="@{/cliente-oferta/edit}" th:object="${clienteOferta}" method="post" role="form">
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-xs-4 form-group" th:classappend="${#fields.hasErrors('clienteOfertaId.cliente')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteOfertaId.cliente')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteOfertaProduto">Cliente*</label>
                                        <select class="form-control" th:field="*{clienteOfertaId.cliente}">
                                            <option value="">Selecione o Cliente</option>
                                            <option th:each="clienteOption : ${clientes}" th:value="${clienteOption.clienteId}" th:text="${clienteOption.clienteNome}"></option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteOfertaId.cliente')}" th:errors="*{clienteOfertaId.cliente}"></span>
                                    </div>

                                    <div class="col-xs-4 form-group" th:classappend="${#fields.hasErrors('clienteOfertaId.oferta')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteOfertaId.oferta')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteOfertaIdOferta">Oferta*</label>
                                        <select class="form-control" th:field="*{clienteOfertaId.oferta}">
                                            <option value="">Selecione a oferta</option>
                                            <option th:each="ofertaOption : ${ofertas}" th:value="${ofertaOption.ofertaId}" th:text="${ofertaOption.ofertaDescricao}+' | R$ '+${ofertaOption.ofertaPreco}" th:data-preco="${ofertaOption.ofertaPreco}"></option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteOfertaId.oferta')}" th:errors="*{clienteOfertaId.oferta}"></span>
                                    </div>

                                    <div class="col-xs-4 form-group" th:classappend="${#fields.hasErrors('funilEtapa')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('funilEtapa')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="funilEtapa">Etapa do Funil*</label>
                                        <select class="form-control" th:field="*{funilEtapa}">
                                            <option value="">Selecione a etapa do funil</option>
                                            <option th:each="etapaOption : ${funilEtapas}" th:value="${etapaOption.funilEtapaId}" th:text="${etapaOption.funilEtapaDescricao}"></option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('funilEtapa')}" th:errors="*{funilEtapa}"></span>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-xs-6 form-group" th:classappend="${#fields.hasErrors('clienteOfertaPrecoDescricao')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteOfertaPrecoDescricao')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteOfertaPrecoDescricao">Descrição*</label>
                                        <textarea class="form-control" placeholder="Digite a descrição da clienteOferta" required="" th:field="*{clienteOfertaPrecoDescricao}"></textarea>
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteOfertaPrecoDescricao')}" th:errors="*{clienteOfertaPrecoDescricao}"></span>
                                    </div>

                                    <div class="col-xs-6 form-group" th:classappend="${#fields.hasErrors('clienteOfertaPreco')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteOfertaPreco')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label for="clienteOfertaProduto">Valor da Oferta*</label>
                                        <input type="number" class="form-control" th:field="*{clienteOfertaPreco}" step="0.01">
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteOfertaPreco')}" th:errors="*{clienteOfertaPreco}"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 form-group" th:classappend="${#fields.hasErrors('clienteOfertaStatus')} ? has-error : noerror">
                                        <label class="control-label" th:if="${#fields.hasErrors('clienteOfertaStatus')}"><i class="fa fa-times-circle-o"></i></label>
                                        <label>Status:</label>
                                        <select class="form-control" th:field="*{clienteOfertaStatus}">
                                            <option value="1" selected>Ativo</option>
                                            <option value="0">Não Ativo</option>
                                        </select>
                                        <span class="help-block" th:if="${#fields.hasErrors('clienteOfertaStatus')}" th:errors="*{clienteOfertaStatus}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle add_field_button btn_wht"></i> Atualizar Cliente Oferta</button>
                                <a th:href="@{/funil-de-vendas}" class="btn btn-primary"><i class="fa fa-list add_field_button btn_wht"></i> Listar Ofertas</a>
                                <a th:href="@{/dashboard}" class="btn btn-laranja"><i class="fa fa-chevron-left add_field_button btn_wht"></i> Voltar para Painel Inicial</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
<th:block th:insert="fragments/footer-scripts.html :: scripts">
</th:block>
<script>
    $(document).ready(function(){
         $('#clienteOfertaDataInicio').datepicker({
             format: 'dd/mm/yyyy',
             language: 'pt-BR',
             autoclose: true
        });
        $('#clienteOfertaDataFim').datepicker({
            format: 'dd/mm/yyyy',
            language: 'pt-BR',
            autoclose: true
        });

        $('#clienteOfertaId\\.oferta').on('change', function () {
            $('#clienteOfertaPreco').val($(this).find('option:selected').attr('data-preco'));
        })
    });
</script>
</body>
</html>