<div class="modal fade bd-example-modal-lg" id="modal-timeline" th:fragment="modal-timeline">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Linha do Tempo</h4>
            </div>
            <div class="modal-body">
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline" id="timeline-list">
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
<!--                                <li>-->
<!--                                    <i class="fa fa-envelope bg-blue"></i>-->

<!--                                    <div class="timeline-item">-->
<!--                                        <span class="time"><i class="fa fa-clock-o"></i> </span>-->

<!--                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

<!--                                        <div class="timeline-body">-->
<!--                                            Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,-->
<!--                                            weebly ning heekya handango imeem plugg dopplr jibjab, movity-->
<!--                                            jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle-->
<!--                                            quora plaxo ideeli hulu weebly balihoo...-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
                                <!-- END timeline item -->
                                <!-- timeline item -->
                            </ul>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-laranja" data-dismiss="modal" aria-label="Close"><i class="fa fa-chevron-left add_field_button btn_wht"></i> Voltar para o Funil</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>