<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/statics/images/profile_image.jpg}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><span sec:authentication="name" style="text-transform: capitalize;"></span></p>
            </div>
        </div>
        <!-- search form -->
<!--        <form action="#" method="get" class="sidebar-form">-->
<!--            <div class="input-group">-->
<!--                <input type="text" name="q" class="form-control" placeholder="Pesquisar...">-->
<!--                <span class="input-group-btn">-->
<!--                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>-->
<!--                </button>-->
<!--              </span>-->
<!--            </div>-->
<!--        </form>-->
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENU</li>
            <li>
                <a th:href="@{/dashboard}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/funil-de-vendas}">
                    <i class="fa fa-table"></i> <span>Funil de Vendas</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pause"></i> <span>Etapas do Funil de Vendas</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/funil-etapa/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Etapa</a></li>
                    <li><a th:href="@{/funil-etapa}"><i class="fa fa-circle-o"></i> Listar Etapas</a></li>
                </ul>
            </li>
            <li class="treeview"> <!--class="active">-->
                <a href="#">
                    <i class="fa fa-users"></i> <span>Clientes</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a th:href="@{/clientes/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Cliente</a></li>
                    <li><a th:href="@{/clientes}"><i class="fa fa-circle-o"></i> Listar Clientes</a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-database"></i> Dados de Clientes
                            <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a th:href="@{/dados-tipos/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Dados</a></li>
                            <li><a th:href="@{/dados-tipos}"><i class="fa fa-circle-o"></i> Listar Dados</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Produtos de Venda</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/produtos/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Produto</a></li>
                    <li><a th:href="@{/produtos}"><i class="fa fa-circle-o"></i> Listar Produtos</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-graduation-cap"></i> <span>Nível de Instrução</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/niveis-instrucao/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Nivel de Instrução</a></li>
                    <li><a th:href="@{/niveis-instrucao}"><i class="fa fa-circle-o"></i> Listar Niveis de Instrução</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-star"></i> <span>Ofertas</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/ofertas/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Oferta de Produto</a></li>
                    <li><a th:href="@{/ofertas}"><i class="fa fa-circle-o"></i> Listar Ofertas de Produtos</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-comment"></i> <span>Ações</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/acoes/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Ação</a></li>
                    <li><a th:href="@{/acoes}"><i class="fa fa-circle-o"></i> Listar Ações</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Usuários</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/usuarios/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Usuário</a></li>
                    <li><a th:href="@{/usuarios}"><i class="fa fa-circle-o"></i> Listar Usuários</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tags"></i> <span>Perfis de Usuários</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
                        <!--<span class="label label-primary pull-right">4</span>-->
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/perfis-usuarios/adicionar}"><i class="fa fa-circle-o"></i> Adicionar Perfil de Usuário</a></li>
                    <li><a th:href="@{/perfis-usuarios}"><i class="fa fa-circle-o"></i> Listar Perfis de Usuários</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Calendário</span>
                    <span class="pull-right-container">
              <!--<small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>-->
            </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i> <span>E-mail</span>
                    <span class="pull-right-container">
              <!--<small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>-->
            </span>
                </a>
            </li>
<!--            <li class="header">TAGS</li>-->
<!--            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Importante</span></a></li>-->
<!--            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Alerta</span></a></li>-->
<!--            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Informação</span></a></li>-->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</body>
</html>