<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:insert="fragments/navbar.html :: header"></th:block>

    <th:block th:insert="fragments/sidebar.html :: aside"></th:block>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Perfil de Usuário
                <small>Edição do perfil de usuário</small>
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/dashboard}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/perfis-usuarios}"><i class="fa fa-tags"></i> Perfil de Usuário</a></li>
                <li class="active">Edição</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Alterar</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form th:action="@{/perfis-usuarios/edit}" th:object="${perfilUsuario}" method="post" role="form">
                        <input type="hidden" th:field="*{perfilUsuarioId}">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Descrição:</label>
                            <input type="text" class="form-control" th:field="*{perfilUsuarioDescricao}" placeholder="Descrição do perfil">
                        </div>
                        <!-- select -->
                        <div class="form-group">
                            <label>Status:</label>
                            <select class="form-control" th:field="*{perfilUsuarioStatus}">
                                <option value="1">Ativo</option>
                                <option value="0">Não Ativo</option>
                            </select>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-warning">Salvar Alteração</button>
                            <a th:href="@{/perfis-usuarios}" class="btn btn-default">Cancelar</a>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
    </div>

    <footer th:insert="fragments/footer.html :: footer"></footer>
</div>
<th:block th:insert="fragments/footer-scripts.html :: scripts">
</th:block>
</body>
</html>